<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hh.hhhz.mapper.TParamLayerDrillingMapper">

    <resultMap type="TParamLayerDrilling" id="TParamLayerDrillingResult">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="workingFaceId" column="working_face_id"/>
        <result property="roadId" column="road_id"/>
        <result property="type" column="type"/>
        <result property="radius" column="radius"/>
        <result property="controlLength" column="control_length"/>
        <result property="holeSize" column="hole_size"/>
        <result property="distanceOfRoadStart" column="distance_of_road_start"/>
        <result property="designLength" column="design_length"/>
        <result property="openingHeight" column="opening_height"/>
        <result property="controlLengthIn" column="control_length_in"/>
        <result property="controlLengthOut" column="control_length_out"/>
        <result property="tuningLength" column="tuning_length"/>
        <result property="distance" column="distance"/>
        <result property="coalinfoId" column="coalinfo_id"/>
        <result property="createTime" column="create_time"/>
        <result property="sign" column="sign"/>
        <result property="schemeId" column="scheme_id"/>
    </resultMap>

    <sql id="selectTParamLayerDrillingVo">
        select id,
               uid,
               working_face_id,
               road_id,
               type,
               radius,
               control_length,
               hole_size,
               distance_of_road_start,
               design_length,
               opening_height,
               control_length_in,
               control_length_out,
               tuning_length,
               distance,
               coalinfo_id,
               create_time,
               sign,
               scheme_id
        from t_param_layer_drilling
    </sql>

    <select id="selectTParamLayerDrillingList" parameterType="TParamLayerDrilling"
            resultMap="TParamLayerDrillingResult">
        <include refid="selectTParamLayerDrillingVo"/>
        <where>
            <if test="uid != null ">and uid = #{uid}</if>
            <if test="workingFaceId != null ">and working_face_id = #{workingFaceId}</if>
            <if test="roadId != null ">and road_id = #{roadId}</if>
            <if test="type != null ">and type = #{type}</if>
            <if test="radius != null ">and radius = #{radius}</if>
            <if test="controlLength != null ">and control_length = #{controlLength}</if>
            <if test="holeSize != null ">and hole_size = #{holeSize}</if>
            <if test="distanceOfRoadStart != null ">and distance_of_road_start = #{distanceOfRoadStart}</if>
            <if test="designLength != null ">and design_length = #{designLength}</if>
            <if test="openingHeight != null ">and opening_height = #{openingHeight}</if>
            <if test="controlLengthIn != null ">and control_length_in = #{controlLengthIn}</if>
            <if test="controlLengthOut != null ">and control_length_out = #{controlLengthOut}</if>
            <if test="tuningLength != null ">and tuning_length = #{tuningLength}</if>
            <if test="distance != null ">and distance = #{distance}</if>
            <if test="coalinfoId != null ">and coalinfo_id = #{coalinfoId}</if>
            <if test="createTime != null ">and create_time = #{CreateTime}</if>
            <if test="sign != null ">and sign = #{sign}</if>
            <if test="schemeId != null ">and scheme_id = #{schemeId}</if>
        </where>
    </select>

    <select id="selectTParamLayerDrillingById" parameterType="Integer" resultMap="TParamLayerDrillingResult">
        <include refid="selectTParamLayerDrillingVo"/>
        where id = #{id}
    </select>

    <insert id="insertTParamLayerDrilling" parameterType="TParamLayerDrilling" useGeneratedKeys="true" keyProperty="id">
        insert into t_param_layer_drilling
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="workingFaceId != null">working_face_id,</if>
            <if test="roadId != null">road_id,</if>
            <if test="type != null">type,</if>
            <if test="radius != null">radius,</if>
            <if test="controlLength != null">control_length,</if>
            <if test="holeSize != null">hole_size,</if>
            <if test="distanceOfRoadStart != null">distance_of_road_start,</if>
            <if test="designLength != null">design_length,</if>
            <if test="openingHeight != null">opening_height,</if>
            <if test="controlLengthIn != null">control_length_in,</if>
            <if test="controlLengthOut != null">control_length_out,</if>
            <if test="tuningLength != null">tuning_length,</if>
            <if test="distance != null">distance,</if>
            <if test="coalinfoId != null">coalinfo_id,</if>
            <if test="coalinfoId != null">coalinfo_id,</if>
            <if test="sign != null">sign,</if>
            <if test="schemeId != null">scheme_id,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="workingFaceId != null">#{workingFaceId},</if>
            <if test="roadId != null">#{roadId},</if>
            <if test="type != null">#{type},</if>
            <if test="radius != null">#{radius},</if>
            <if test="controlLength != null">#{controlLength},</if>
            <if test="holeSize != null">#{holeSize},</if>
            <if test="distanceOfRoadStart != null">#{distanceOfRoadStart},</if>
            <if test="designLength != null">#{designLength},</if>
            <if test="openingHeight != null">#{openingHeight},</if>
            <if test="controlLengthIn != null">#{controlLengthIn},</if>
            <if test="controlLengthOut != null">#{controlLengthOut},</if>
            <if test="tuningLength != null">#{tuningLength},</if>
            <if test="distance != null">#{distance},</if>
            <if test="coalinfoId != null">#{coalinfoId},</if>
            <if test="sign != null">#{sign},</if>
            <if test="schemeId != null">#{schemeId},</if>
            <!-- 根据数据库类型选择时间函数 -->
            <if test="_databaseId.contains('mysql')">NOW()</if>
            <if test="_databaseId.contains('sqlite')">datetime('now', 'localtime')</if>
        </trim>
    </insert>

    <update id="updateTParamLayerDrilling" parameterType="TParamLayerDrilling">
        update t_param_layer_drilling
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="workingFaceId != null">working_face_id = #{workingFaceId},</if>
            <if test="roadId != null">road_id = #{roadId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="radius != null">radius = #{radius},</if>
            <if test="controlLength != null">control_length = #{controlLength},</if>
            <if test="holeSize != null">hole_size = #{holeSize},</if>
            <if test="distanceOfRoadStart != null">distance_of_road_start = #{distanceOfRoadStart},</if>
            <if test="designLength != null">design_length = #{designLength},</if>
            <if test="openingHeight != null">opening_height = #{openingHeight},</if>
            <if test="controlLengthIn != null">control_length_in = #{controlLengthIn},</if>
            <if test="controlLengthOut != null">control_length_out = #{controlLengthOut},</if>
            <if test="tuningLength != null">tuning_length = #{tuningLength},</if>
            <if test="distance != null">distance = #{distance},</if>
            <if test="coalinfoId != null">coalinfo_id = #{coalinfoId},</if>
            <if test="sign != null">coalinfo_id = #{sign},</if>
            <if test="schemeId != null">scheme_id = #{schemeId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTParamLayerDrillingById" parameterType="Integer">
        delete
        from t_param_layer_drilling
        where id = #{id}
    </delete>

    <delete id="deleteTParamLayerDrillingByIds" parameterType="String">
        delete from t_param_layer_drilling where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--获取最新一条数据-->
    <select id="getLastOne" resultMap="TParamLayerDrillingResult">
        select * from t_param_layer_drilling order by id desc limit 0,1
    </select>
    <!--确定方案：将数据库中的标识由0改成1-->
    <update id="updateSign" >
        update t_param_layer_drilling set sign =1 where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
