<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.quartz.mapper.WarningAlertsMapper">

    <resultMap type="WarningAlerts" id="WarningAlertsResult">
        <result property="id" column="id"/>
        <result property="workingFaceId" column="working_face_id"/>
        <result property="type" column="type"/>
        <result property="typeMessage" column="type_message"/>
        <result property="x" column="x"/>
        <result property="y" column="y"/>
        <result property="z" column="z"/>
        <result property="alertMessage" column="alert_message"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <result property="level" column="level"/>
    </resultMap>

    <sql id="selectWarningAlertsVo">
        select id,
               working_face_id,
               type,
               type_message,
               x,
               y,
               z,
               alert_message,
               create_time,
               status,
               level
        from t_warning_alerts
    </sql>

    <select id="selectWarningAlertsList" parameterType="WarningAlerts" resultMap="WarningAlertsResult">
        <include refid="selectWarningAlertsVo"/>
        <where>
            <if test="workingFaceId != null ">and working_face_id = #{workingFaceId}</if>
            <if test="type != null ">and type = #{type}</if>
            <if test="typeMessage != null  and typeMessage != ''">and type_message = #{typeMessage}</if>
            <if test="x != null ">and x = #{x}</if>
            <if test="y != null ">and y = #{y}</if>
            <if test="z != null ">and z = #{z}</if>
            <if test="alertMessage != null  and alertMessage != ''">and alert_message = #{alertMessage}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="level != null ">and level = #{level}</if>
        </where>
    </select>

    <select id="selectWarningAlertsById" parameterType="Integer" resultMap="WarningAlertsResult">
        <include refid="selectWarningAlertsVo"/>
        where id = #{id}
    </select>

    <insert id="insertWarningAlerts" parameterType="WarningAlerts" useGeneratedKeys="true" keyProperty="id">
        insert into t_warning_alerts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workingFaceId != null">working_face_id,</if>
            <if test="type != null">type,</if>
            <if test="typeMessage != null">type_message,</if>
            <if test="x != null">x,</if>
            <if test="y != null">y,</if>
            <if test="z != null">z,</if>
            <if test="alertMessage != null">alert_message,</if>
            <if test="status != null">status,</if>
            <if test="level != null">level,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workingFaceId != null">#{workingFaceId},</if>
            <if test="type != null">#{type},</if>
            <if test="typeMessage != null">#{typeMessage},</if>
            <if test="x != null">#{x},</if>
            <if test="y != null">#{y},</if>
            <if test="z != null">#{z},</if>
            <if test="alertMessage != null">#{alertMessage},</if>
            <if test="status != null">#{status},</if>
            <if test="level != null">#{level},</if>
            <!-- 根据数据库类型选择时间函数 -->
            <if test="_databaseId.contains('mysql')">NOW()</if>
            <if test="_databaseId.contains('sqlite')">datetime('now', 'localtime')</if>
        </trim>
    </insert>

    <update id="updateWarningAlerts" parameterType="WarningAlerts">
        update t_warning_alerts
        <trim prefix="SET" suffixOverrides=",">
            <if test="workingFaceId != null">working_face_id = #{workingFaceId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="typeMessage != null">type_message = #{typeMessage},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="x != null">x = #{x},</if>
            <if test="y != null">y = #{y},</if>
            <if test="z != null">z = #{z},</if>
            <if test="alertMessage != null">alert_message = #{alertMessage},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="level != null ">level = #{level},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWarningAlertsById" parameterType="Integer">
        delete
        from t_warning_alerts
        where id = #{id}
    </delete>

    <delete id="deleteWarningAlertByIds" parameterType="String">
        delete from t_warning_alerts where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
