<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hh.physical.mapper.TDesDirectionalDrillingPointMapper">

    <resultMap type="TDesDirectionalDrillingPoint" id="TDesDirectionalDrillingPointResult">
        <result property="id"    column="id"    />
        <result property="desBoreholeId"    column="borehole_id"    />
        <result property="boreholeLength"    column="borehole_length"    />
        <result property="azimuthAngle"    column="azimuth_angle"    />
        <result property="inclinationAngle"    column="inclination_angle"    />
        <result property="offset"    column="offset"    />
        <result property="projectionDepth"    column="projection_depth"    />
        <result property="offsetLR"    column="offset_LR"    />
        <result property="offsetTD"    column="offset_TD"    />
        <result property="offsetEast"    column="offset_east"    />
        <result property="offsetNorth"    column="offset_north"    />
        <result property="altitude"    column="altitude"    />
        <result property="coalRockSituation"    column="coal_rock_situation"    />
        <result property="index"    column="index"    />
    </resultMap>

    <sql id="selectTDesDirectionalDrillingPointVo">
        select id, borehole_id, borehole_length, azimuth_angle, inclination_angle, offset, projection_depth, offset_LR, offset_TD, offset_east, offset_north, altitude, coal_rock_situation,`index` from t_des_directional_drilling_point
    </sql>

    <select id="selectTDesDirectionalDrillingPointList" parameterType="TDesDirectionalDrillingPoint" resultMap="TDesDirectionalDrillingPointResult">
        <include refid="selectTDesDirectionalDrillingPointVo"/>
        <where>
            <if test="id != null and id != 0"> and id = #{id}</if>
            <if test="desBoreholeId != null and desBoreholeId != 0"> and borehole_id = #{desBoreholeId}</if>
            <if test="boreholeLength != null "> and borehole_length = #{boreholeLength}</if>
            <if test="azimuthAngle != null "> and azimuth_angle = #{azimuthAngle}</if>
            <if test="inclinationAngle != null "> and inclination_angle = #{inclinationAngle}</if>
            <if test="offset != null "> and offset = #{offset}</if>
            <if test="projectionDepth != null "> and projection_depth = #{projectionDepth}</if>
            <if test="offsetLR != null "> and offset_LR = #{offsetLR}</if>
            <if test="offsetTD != null "> and offset_TD = #{offsetTD}</if>
            <if test="offsetEast != null "> and offset_east = #{offsetEast}</if>
            <if test="offsetNorth != null "> and offset_north = #{offsetNorth}</if>
            <if test="altitude != null "> and altitude = #{altitude}</if>
            <if test="coalRockSituation != null  and coalRockSituation != ''"> and coal_rock_situation = #{coalRockSituation}</if>
            <if test="index != null  and index != ''"> and `index` = #{index}</if>
        </where>
    </select>

    <select id="selectTDesDirectionalDrillingPointById" parameterType="Integer" resultMap="TDesDirectionalDrillingPointResult">
        <include refid="selectTDesDirectionalDrillingPointVo"/>
        where id = #{id}
    </select>

    <insert id="insertTDesDirectionalDrillingPoint" parameterType="TDesDirectionalDrillingPoint" useGeneratedKeys="true" keyProperty="id">
        insert into t_des_directional_drilling_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="desBoreholeId != null and desBoreholeId != 0">borehole_id,</if>
            <if test="boreholeLength != null">borehole_length,</if>
            <if test="azimuthAngle != null">azimuth_angle,</if>
            <if test="inclinationAngle != null">inclination_angle,</if>
            <if test="offset != null">offset,</if>
            <if test="projectionDepth != null">projection_depth,</if>
            <if test="offsetLR != null">offset_LR,</if>
            <if test="offsetTD != null">offset_TD,</if>
            <if test="offsetEast != null">offset_east,</if>
            <if test="offsetNorth != null">offset_north,</if>
            <if test="altitude != null">altitude,</if>
            <if test="coalRockSituation != null">coal_rock_situation,</if>
            <if test="index != null">`index`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="desBoreholeId != null and desBoreholeId != 0">#{desBoreholeId},</if>
            <if test="boreholeLength != null">#{boreholeLength},</if>
            <if test="azimuthAngle != null">#{azimuthAngle},</if>
            <if test="inclinationAngle != null">#{inclinationAngle},</if>
            <if test="offset != null">#{offset},</if>
            <if test="projectionDepth != null">#{projectionDepth},</if>
            <if test="offsetLR != null">#{offsetLR},</if>
            <if test="offsetTD != null">#{offsetTD},</if>
            <if test="offsetEast != null">#{offsetEast},</if>
            <if test="offsetNorth != null">#{offsetNorth},</if>
            <if test="altitude != null">#{altitude},</if>
            <if test="coalRockSituation != null">#{coalRockSituation},</if>
            <if test="index != null">#{index},</if>
         </trim>
    </insert>

    <update id="updateTDesDirectionalDrillingPoint" parameterType="TDesDirectionalDrillingPoint">
        update t_des_directional_drilling_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="desBoreholeId != null and desBoreholeId != 0">borehole_id = #{desBoreholeId},</if>
            <if test="boreholeLength != null">borehole_length = #{boreholeLength},</if>
            <if test="azimuthAngle != null">azimuth_angle = #{azimuthAngle},</if>
            <if test="inclinationAngle != null">inclination_angle = #{inclinationAngle},</if>
            <if test="offset != null">offset = #{offset},</if>
            <if test="projectionDepth != null">projection_depth = #{projectionDepth},</if>
            <if test="offsetLR != null">offset_LR = #{offsetLR},</if>
            <if test="offsetTD != null">offset_TD = #{offsetTD},</if>
            <if test="offsetEast != null">offset_east = #{offsetEast},</if>
            <if test="offsetNorth != null">offset_north = #{offsetNorth},</if>
            <if test="altitude != null">altitude = #{altitude},</if>
            <if test="coalRockSituation != null">coal_rock_situation = #{coalRockSituation},</if>
            <if test="index != null">`index` = #{index},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTDesDirectionalDrillingPointById" parameterType="Integer">
        delete from t_des_directional_drilling_point where id = #{id}
    </delete>

    <delete id="deleteTDesDirectionalDrillingPointByIds" parameterType="String">
        delete from t_des_directional_drilling_point where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
