<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hh.physical.mapper.TMiningAreaMapper">

    <resultMap type="TMiningArea" id="TMiningAreaResult">
        <result property="id"    column="id"    />
        <result property="miningArea"    column="mining_area"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTMiningAreaVo">
        select id, mining_area, create_by, create_time, update_by, update_time, remark from t_mining_area
    </sql>

    <select id="selectTMiningAreaList" parameterType="TMiningArea" resultMap="TMiningAreaResult">
        <include refid="selectTMiningAreaVo"/>
        <where>
            <if test="miningArea != null  and miningArea != ''"> and mining_area = #{miningArea}</if>
        </where>
    </select>

    <select id="selectTMiningAreaById" parameterType="Integer" resultMap="TMiningAreaResult">
        <include refid="selectTMiningAreaVo"/>
        where id = #{id}
    </select>

    <insert id="insertTMiningArea" parameterType="TMiningArea" useGeneratedKeys="true" keyProperty="id">
        insert into t_mining_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="miningArea != null">mining_area,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="miningArea != null">#{miningArea},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTMiningArea" parameterType="TMiningArea">
        update t_mining_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="miningArea != null">mining_area = #{miningArea},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time =
            <!-- 根据数据库类型选择时间函数 -->
            <if test="_databaseId.contains('mysql')">NOW()</if>
            <if test="_databaseId.contains('sqlite')">datetime('now', 'localtime')</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTMiningAreaById" parameterType="Integer">
        delete from t_mining_area where id = #{id}
    </delete>

    <delete id="deleteTMiningAreaByIds" parameterType="java.util.List">
        delete from t_mining_area where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
