<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hh.simulate.mapper.WaterDevDataMapper">
    
    <resultMap type="WaterDevData" id="WaterDevDataResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="flowRate"    column="flow_rate"    />
        <result property="cumulant"    column="cumulant"    />
    </resultMap>

    <sql id="selectWaterDevDataVo">
        select id, code, flow_rate, cumulant from water_dev_data
    </sql>

    <select id="selectWaterDevDataList" parameterType="WaterDevData" resultMap="WaterDevDataResult">
        <include refid="selectWaterDevDataVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="flowRate != null "> and flow_rate = #{flowRate}</if>
            <if test="cumulant != null "> and cumulant = #{cumulant}</if>
        </where>
    </select>
    
    <select id="selectWaterDevDataById" parameterType="Integer" resultMap="WaterDevDataResult">
        <include refid="selectWaterDevDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWaterDevData" parameterType="WaterDevData" useGeneratedKeys="true" keyProperty="id">
        insert into water_dev_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="flowRate != null">flow_rate,</if>
            <if test="cumulant != null">cumulant,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="flowRate != null">#{flowRate},</if>
            <if test="cumulant != null">#{cumulant},</if>
         </trim>
    </insert>

    <update id="updateWaterDevData" parameterType="WaterDevData">
        update water_dev_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="flowRate != null">flow_rate = #{flowRate},</if>
            <if test="cumulant != null">cumulant = #{cumulant},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWaterDevDataById" parameterType="Integer">
        delete from water_dev_data where id = #{id}
    </delete>

    <delete id="deleteWaterDevDataByIds" parameterType="String">
        delete from water_dev_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>